.widget-link {
    text-decoration: none;
}

.hashtags {
    margin-top: 10px;
}

.hashtag {
    display: inline-block;
    padding: 2px 6px;
    margin-right: 5px;
    background-color: #33333375;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

