{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container content-space-1">
  <div class="w-lg-65 text-center mx-lg-auto mb-7">
    <h3>{% trans "Sign In" %}</h3>
  </div>

  <div class="row justify-content-lg-center">
    <div class="col-lg-8">
      <div class="card card-lg card-bordered shadow-none">
        <div class="card-body">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="d-grid gap-4">
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}

              <div class="d-flex justify-content-between align-items-center">
                <a class="text-primary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
              </div>
            </div>
          </form>

          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
          <hr class="my-4">
          <div class="text-center">
            <p>{% blocktrans %}Or sign in with one of your existing third party accounts:{% endblocktrans %}</p>
            <div class="socialaccount_ballot">
              <ul class="socialaccount_providers list-inline">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
          </div>
          {% endif %}

          <div class="text-center mt-4">
            <p>{% blocktrans %}Don't have an account? <a href="{{ signup_url }}" class="text-primary">Sign up</a>{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
