<footer class="bg-gray-950 text-gray-400">
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h3 class="text-white font-semibold mb-4">About</h3>
        <ul class="space-y-2">
          <li>
            <a class="hover:text-yellow-300" routerLink="/"
            >About Us</a
            >
          </li>
          <li>
            <a class="hover:text-yellow-300" routerLink="/"
            >Contact</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-white font-semibold mb-4">Legal</h3>
        <ul class="space-y-2">
          <li>
            <a class="hover:text-yellow-300" routerLink="/"
            >Privacy Policy</a
            >
          </li>
          <li>
            <a class="hover:text-yellow-300" routerLink="/"
            >Terms of Service</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-white font-semibold mb-4">Follow Us</h3>
        <ul class="space-y-2">
          <li>
            <a class="hover:text-yellow-300" href="#">Twitter</a>
          </li>
          <li>
            <a class="hover:text-yellow-300" href="#">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-8 pt-8 border-t border-gray-800 text-center">
      <p>&copy; 2025 Pomegranate. All rights reserved.</p>
    </div>
  </div>
</footer>
