{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Update {{ user.username }}{% endblock title %}

{% block content %}
<div class="container content-space-1">
  <div class="w-lg-65 text-center mx-lg-auto mb-7">
    <h3>Update Profile: {{ user.username }}</h3>
  </div>

  <div class="row justify-content-lg-center">
    <div class="col-lg-8">
      <div class="card card-lg card-bordered shadow-none">
        <div class="card-body">
          <form method="post" action="{% url 'users:update' %}">
            {% csrf_token %}
            <div class="d-grid gap-4">
              {{ form|crispy }}
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
