defusedxml==0.7.1
Django==5.1
django-allauth==0.48.0
django-cors-headers==3.10.1
djangorestframework==3.15.0
dj-rest-auth==6.0.0
drf-spectacular==0.27.2
environs==11.0.0
gunicorn==23.0.0
jsonschema==4.23.0
marshmallow==3.21.3
oauthlib==3.2.2
packaging==24.1
psycopg2-binary==2.9.9
PyJWT==2.9.0
python3-openid==3.2.0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.4.3
whitenoise==6.7.0
celery[redis]==5.4.0
Pillow==10.4.0
pandas==2.2.2
