// _variables.scss
$sidebar-bg: #111729;
$sidebar-fg: #ffffff;
$sidebar-title: #838cf1;
$sidebar-subtitle: #888b94;
$sidebar-icon: #a0a2a9;

$navbar-bg: #ffffff;

$main-bg: #f2f5f9;
$card-bg: #ffffff;
$card-title: #20293a;
$card-subtitle: #677489;

$primary-btn-bg: #4e46dc;
$primary-btn-fg: #ffffff;
$accent-btn-bg: #20293a;
$accent-btn-fg: #ffffff;

